$clr-primary: hsl(225, 100%, 94%);
$clr-accent: hsl(245, 75%, 52%);
$clr-neutral-1:hsl(225, 100%, 98%);
$clr-neutral-2: hsl(224, 23%, 55%);
$clr-neutral-3: hsl(223, 47%, 23%);
$clr-white: hsl(0, 0%, 100%);


h1, h3, p, button, a{
    text-align: center;
}